body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content {
    flex-grow: 1;
    padding-right: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}


.post-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 100px;
}


.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button, .submit-button {
    color: #333333;
    border: 1px solid #333333;
}

.update-button {
    border: 1px solid #007bff;
    color: #007bff;
}

.delete-button {
    background-color: #C21807;
    color: #ffffff;
    width: 100%;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

form.delete-form {
    background: none;
    padding: 0;
    box-shadow: none;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"] {
    min-height: 45px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}