body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.button-container {
    margin-bottom: 20px;
}

button > a {
    text-decoration: none;
    color: #000000;
}

button {
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}


form div {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


input[type="text"] {
    min-height: 45px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}